
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Metodos y Estrategia</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>


<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		<div id="cabe"> <br/>
	Metodos y Estrategia 
		</div>	   
		 </div>
		 <!-- End Header -->
		 
         <!-- Begin Faux Columns -->
		 <div id="faux">
		 
		       <!-- Begin Left Column -->
		       <div id="leftcolumn">
		 
		             
		 
		       </div>
		       <!-- End Left Column -->
		 
		       <!-- Begin Right Column -->
		       <div id="rightcolumn">
					 
					 <h1>M y E </h1><br>
			               <h1>Formulario de Contacto</h1>	 
					 
				     <p><br/>
					 
					       Para participar del evento registra tus datos <br/>
<h4>Las 5 primeras personas que se registren se haran acreadores del curso que hallan elegido <br/> TOTALMENTE GRATIS</h4> 
</p>
<p>

<% form_for(@form_contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
<%  @cours.map {|u| [u.name] } %>
    <%= f.label :course %><br />
  <%=f.select(:course, @cours.map {|u| [u.name] }) %>
  </p>
  <p>
    <%= f.label :otherCourse %><br />
    <%= f.text_field :otherCourse %>
  </p>
  <p>
    <%= f.label :occupation %><br />
 <%= f.select(:occupation, @occupations.map { |u| [u.name] }) %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment ,:size => "33x7"%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end -%>

</p>

			   <div class="clear"></div>
			   
		       </div>
		       <!-- End Right Column -->
			   
			   <div class="clear"></div>
			   
         </div>	   
         <!-- End Faux Columns --> 

         <!-- Begin Footer -->
         <div id="footer">
		       
Metodos y Estrategia

         </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
</body>
</html>

