

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Metodos y Estrategia - Courses: <%= controller.action_name %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>


<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		<div id="cabe"> <br/>
	Metodos y Estrategia 
		</div>	   
		 </div>
		 <!-- End Header -->
		 
         <!-- Begin Faux Columns -->
		 <div id="faux">
		 
		       <!-- Begin Left Column -->
		       <div id="leftcolumn">
		 
		             <ul id="menu">
 <li><%= link_to "Nuevos Cursos", curs_path %> </li>
  <li><%= link_to "Nuevas Ocupaciones",ocupat_path %></li>
  <li><%= link_to "Comentarios Escritos",comenta_path %></li>
  <li><% link_to "Feed",rss_path("atom") %></li>
  <%= link_to "Cerrar sesion", {:controller=>"session",:action=>"destroy"} %>
</ul>
		 
		       </div>
		       <!-- End Left Column -->
		 
		       <!-- Begin Right Column -->
		       <div id="rightcolumn">
					 
					 <h1>M y E </h1><br>
			               <h1>Formulario de Contacto</h1>	 

 <p><br/>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>					 



<%= yield :javascripts %>
<%= javascript_include_tag :all %>
</p>

			   <div class="clear"></div>
			   
		       </div>
		       <!-- End Right Column -->
			   
			   <div class="clear"></div>
			   
         </div>	   
         <!-- End Faux Columns --> 

         <!-- Begin Footer -->
         <div id="footer">
		       
Metodos y Estrategia

         </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
</body>
</html>

